

<div class="w3-container w3-bar w3-light-green w3-bottom w3-row">
	
	<div class="w3-col s6">
		<a href="/"><p>Magic-Project</p></a>
	</div>

<% if (logged == true) {%>

	<div class="w3-col s6 w3-right-align">
		<p><a href="#" alt="Cette action est irreversible" @click="supprimerCompte()">Supprimer votre compte</a></p>
	</div>

<%}%>

</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<%- vue %>

</body>
</html>
