



<br><br><br>

<div class="w3-container w3-bar w3-light-green w3-bottom">
	
	<p>Some footer Notes</p>

</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<%- vue %>

</body>
</html>
