

<div class="w3-container w3-bar w3-light-green w3-bottom w3-row">
	
	<div class="w3-col s6">
		<p>Some footer infos</p>
	</div>

	<div class="w3-col s6 w3-right-align">
		<p><a href="/">Supprimer compte</a></p>
	</div>

</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<%- vue %>

</body>
</html>
