
<body>

	<script>

		function showLinks() {
			var x = document.getElementById("small-screen");
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
			} else { 
				x.className = x.className.replace(" w3-show", "");
			}
		}

	</script>
	
	<div id="app" style="margin-top:35px;margin-bottom:70px">

		<div class="w3-bar w3-light-green w3-top">

			<div id="big-screen">
				<a href="/" class="w3-bar-item w3-button"> Magic Project </a>
				<a href="/login/logout" class="w3-bar-item w3-button w3-hide-small">Log Out</a>
				<a href="/user" class="w3-bar-item w3-button w3-hide-small">Home Page</a>
				
				<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="showLinks()"> &#9776; </a>
			</div>

			<div id="small-screen" class="w3-bar-block w3-light-green w3-hide w3-hide-large w3-hide-medium">
				<a href="/login/logout" class="w3-bar-item w3-button ">Log Out</a>
				<a href="/user" class="w3-bar-item w3-button ">Home Page</a>
			</div>

		</div>

	<!-- Fin Nav bar : a faire en sorte qu'elle dependent de l'app -->