<!DOCTYPE html>
<html>
  <head>

    <title> Magic-project v0 </title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>