
<%- include('../layout/head') %>
<%- include('../layout/header') %>


<div class="w3-container w3-row ">

	<div class="w3-col m2 l3" style="visibility: hidden">
		CENTER
	</div>

	<div class="w3-container w3-center w3-col s12 m8 l6">

		<h2>Log In </h2>

<% if(message) {%>

		<div class="w3-panel w3-pale-red">
			<p>Ce couple utilisateur / mot de passe n'existent pas, veuillez reessayer</p>
		</div>

<% } %>

		<form action="/login/login" method="post" name="Log">
			
			<label name="user_name">Nom d'utilisateur</label>
			<input class="w3-input w3-border w3-round-large" type="text" name="user_name" required>

			<label name="pass">Mot de passe</label>
			<input class="w3-input w3-border w3-round-large" type="password" name="pass" required>		

			<input type="submit" class="w3-button w3-light-green" value="Valider">

		</form>

	</div>

	<div class="w3-col m2 l3" style="visibility: hidden">
		CENTER
	</div>


</div>

<div class="w3-container w3-center">
	
	<p>Pas de compte ? <a href="/login/signin">Inscrivez-vous !</a></p>

</div>

<%- include('../layout/foot',{vue: vue}) %>