<!DOCTYPE html>
<html>
  <head>

    <title> Magic-project v0 </title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />


  </head>
  <body>

    <div id="header">
      
    </div>


    <div id="app">

  	  <div class="w3-container">

        <h1> Welcome to Magic-Project v{{ nombre }} </h1>

        <carte v-for="nom in nomCartes" :nom="nom" @btnappuye="augmenterNombre"></carte>

      </div>

      

    </div>


    <div id="footer">
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="javascripts/vue.js"></script>

  </body>
</html>
