
<%- include('../layout/head') %>
<%- include('../layout/header') %>

    <div id="app">

  	  <div class="w3-container">

        <h1> Welcome to Magic-Project v0 </h1>

        <carte v-for="nom in nomCartes" :nom="nom" @btnappuye="augmenterNombre"></carte>

      </div>

    </div>

<%- include('../layout/foot',{vue: vue}) %>